<!DOCTYPE html>
<html>
  <head>
    <title>2FA Verification Code</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {styling}
  </head>
  <body>
    <div class="container">
      <h1>Two Factor Authentication code</h1>
      <p>Your verification code is:</p>
      <div class="code">{passcode}</div>
      <p>This verification code will expire in {expiration_time}.</p>
      <p>
        Please enter this code into the application to reset your account
        password.
      </p>
      <p>If you did not request this code, please ignore this email.</p>
    </div>
  </body>
</html>
